env/
venv/
__pycache__/
*.pyc
.vscode/

static/uploads/*

optimizer_*.pth
decoder_[0-9]*.pth

AdaIN/
content_data/
style_data/

experiment/*
!experiment/big_dataset/
!experiment/big_dataset/decoder_final.pth

.git/